h1{
    font-family: 'courier New', Courier, monospace;
    font-size: 10px;



}
body{
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color:#eaf9d5;
    color: chartreuse;




}
@media only screen and ( min-width: 600px){
    .content{ margin-left:0px;
    width: 100%;
    }

}



.number{
    color:cornflowerblue;
    text-align: center;
    text-decoration: underline;
}
label{
    font-size: 15px;
}
.first:{
    display: inline;
}
.Wrapper{
    text-align: center;
    align-content: center;
    justify-content: center;

}
.Content{
    border: #282c34 1px solid;
    align-content: center;
    text-align: center;

    box-shadow: 2px 1px 0px 3px chartreuse;
    width: 700px;
    padding-bottom: 20px;
    background-color: green;
    margin: auto;

}
.userinput {
    height: 17px;
    width: 100px;
    font-size: 10px;

}
.userinput:active{
    border: black 1px solid;
    border-radius: 5px;

}
.top{

}

#upload {
    background-color: #61dafb;
    text-align: center;
    align-content: center;
}
textarea {
    height: 17px;
    width: 100px;
    font-size: 10px;
}
textarea:active{
    border: black 1px solid;
    border-radius: 5px;

}
button{
    height: 25px;
    width: 150px;
    background-color:chartreuse;
    border: black 1px solid;color: white;
    text-align: center;
}
button:hover{background-color: white;color: black;
}  button:active{background-color: white;color: black;
}
#Post{

}
.show{
    align-content: center;
    text-align: center;
}