h1{
    font-family: 'courier New', Courier, monospace;
    font-size: 10px;



}
input[type="file"]::-webkit-file-upload-button {
    background-color: chartreuse;
}

input[type="file"]::-ms-browse {
    background-color:chartreuse;
}

input[type="file"]::file-selector-button {
    background-color:chartreuse;
    border: none;
    width: 120px;
    height: 40px;
}
input[type="file"]::file-selector-button:active{
    background-color: red;
}
input[type="file"]::file-selector-button:hover{
    background-color: white;
    color: chartreuse;
}
body{
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color:#eaf9d5;
    color: chartreuse;




}







.number{
    color:cornflowerblue;
    text-align: center;
    text-decoration: underline;
}
label{
    font-size: 15px;
}
.first:{
    display: inline;
}
.Wrapper{
    text-align: center;
    align-content: center;
    justify-content: center;

}
.Content{
    border: #282c34 1px solid;
    align-content: center;
    text-align: center;

    box-shadow: 2px 1px 0px 3px chartreuse;
    width: 701px;
    padding-bottom: 20px;
    background-color: green;
    margin: auto;

}
.userinput {
    height: 17px;
    width: 100px;
    font-size: 10px;

}
.userinput:active{
    border: black 1px solid;
    border-radius: 5px;



}

#upload {
    background-color: #61dafb;
    text-align: center;
    align-content: center;
}
textarea {
    height: 17px;
    width: 100px;
    font-size: 10px;
}
textarea:active{
    border: black 1px solid;
    border-radius: 5px;

}
button{
    height: 25px;
    width: 150px;
    background-color:chartreuse;
    border: chartreuse 1px solid;color: white;
    text-align: center;
}
button:hover{background-color: white;color:chartreuse;
}  button:active{background-color: red;color:chartreuse;
}
#Post{

}
.show{
    align-content: center;
    text-align: center;
    justify-content: center;


}
#hange{
    width: 701px;
    background-color: #282c34;

}
#hange:hover{
    background-color: #eaf9d5;
    color: chartreuse;
}
/*ADDING @MEDIA RESPONSIVITY*/

@media screen and (min-width: 200px) {


}


@media screen and (min-width: 480px) {



}
@media screen and (min-width: 768px) {




}
@media screen and (min-width:1024px) {




}




